<div Style="@($"background-color: var(--mud-palette-secondary); width: 100%; height: fit-content;")" Class="m-0 p-0 mt-4 mt-md-0">
    @*MD + BREAKPOINT*@
    <MudText Align="Align.Center" Color="Color.Primary" Typo="Typo.h3" Style="font-weight: bolder;" class="d-none d-md-block">
        JOIN US! simpOnline.csrv.pl
    </MudText>
    @*MD + BREAKPOINT*@
    @*BELOW AND SM BREAKPOINT*@
    <MudText Align="Align.Center" Color="Color.Primary" Typo="Typo.h4" Style="font-weight: bolder;" class="d-block d-md-none">
        JOIN US! simpOnline.csrv.pl
    </MudText>
    @*BELOW AND SM BREAKPOINT*@
</div>
